<h3>Add a recipe to your Recipe Box</h3>
<form class="" action="/add_recipe" method="post">
  <div class="form_group">
    <label for="type">Type of Recipe</label>
    <select class="" name="type" type="text">
      <% @types.each do |type| %>
      <option value="<%= type.id %>"> <%= type.name %> </option>
      <% end %>
    </select>
  </div>
  
</form>
