<h3>Add a recipe to your Recipe Box</h3>
<div class="well">
  <form class="" action="/add_recipe" method="post">
    <div class="form_group">
      <label for="dish">Dish of Recipe</label>
      <select class="" name="dish-id" type="text">
        <% @dishes.each do |dish| %>
        <option value="<%= dish.id %>"> <%= dish.name %> </option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Recipe Title:</label>
      <input type="text" name="name" class="form-control" placeholder="Recipe Title">
    </div>

    <div class="form-group">
      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" value="" class="form-control" placeholder="Separate ingredients by comma and spec(ex. onion, pepper, sugar, etc)">
    </div>

    <div class="form-group">
      <label for="instructions">Instructions</label>
      <textarea name="instructions" rows="8" cols="80"></textarea>
    </div>
    <button type="submit" name="button" class="btn">Add Recipe</button>
  </form>
</div>

<footer>
  <a href="/recipe_list"><button type="button" name="button" class="btn">Recipes</button></a>
</footer>
