<div class="row">
  <div class="col-xs-6">
   <div class="well">
     <%= @recipe.name %>

     <h3>ingreients</h3>
   </div>
  </div>
  <div class="col-xs-6">
    <div class="well">
      <%= @recipe.instructions %>
    </div>
  </div>
</div>

<footer>
  <a href="/"><button type="button" name="button" class="btn">Home</button></a>
  <a href="/recipe_list"><button type="button" name="button" class="btn">Recipes</button></a>
</footer>
