<div class="row">
  <div class="col-xs-6">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h2> <%= @recipe.name %> <small>Ingredients</small> </h2>
     </div>
     <div class="panel-body">
       <% if @recipe.ingredients.any? %>
          <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <li> <%= ingredient.name %> </li>
          </ul>
          <% end %>
       <% end %>
     </div>
   </div>
  </div>
  <div class="col-xs-6">
    <div class="well">
      <%= @recipe.instructions %>
    </div>
  </div>
</div>

<footer>
  <a href="/"><button type="button" name="button" class="btn">Home</button></a>
  <a href="/recipe_list"><button type="button" name="button" class="btn">Recipes</button></a>
</footer>
